* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #797b7e;
}

.page-container {
	max-width: 980px;
	margin: 20px auto 0;
    background-color: white;
}

.left-side {
    display:inline-block;
	width: 25%;
	background-color: #406791;
    vertical-align: top;
    color: white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-side {
    display:inline-block;
	width: calc(75% - 6px);
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 10px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

hr {
    margin-bottom: 4px;
    margin-top: 4px;
}

ul {
    list-style-type: none;
}

.label {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.info {
    font-size: 12px;
}
.interests li{
    font-size: 12px;
    margin-top: 3px;
}

.language span {
    font-size: 12px;
}

.level {
    text-align: right;
    float: right;
    opacity: 0.8;
    margin-top: 5px
}

.left-side h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}


.right-side h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 24px;
}

.entry p {
    margin-bottom: 4px;
    margin-top: 6px;
    font-size: 15px;
}

.right-side hr {
    margin-top: 16px;
    margin-bottom: 10px;
    opacity: 0.6;
}

ol {
    padding-left: 16px;
}

.date {
    float: right;
    font-size: 16px
}

.position {
    font-size:18px;
}

.menu {
    max-width: 700px;
	margin: 20px auto 0;
    background-color: white;
    text-align: center;
    border-radius: 15px;
}
.menu li{
    display: inline-block;
    margin-left: 18px;
    font-size: 24px;
}