* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 20px auto 0;
    max-width: 900px;
    padding: 40px;
}

table { 
    width: 100%; border-collapse: collapse; margin-top: 20px; 
}

th, td { 
    border: 1px solid #c2bfbf; padding: 12px; text-align: center; 
}

th { 
    background-color: #f4f4f4; 
}

p {
    text-align: center;
}

nav {
    margin-top: 30px; font-size: 20px;
}

h2, h3 {
    margin-top:30px;
    text-align: center;
}

.card { 
    background: white; padding: 30px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

h1 { 
    color: #2980b9;
    text-align: center;
    font-size: 30px;
}

ul { 
    margin-top: 20px
}

li { 
    margin-bottom: 10px; 
}

.back { 
    display: inline-block; margin-top: 20px; text-decoration: none; color: #2980b9; font-weight: bold; 

}
