h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.wrap {
    width: 1200px;
    height: 570px;
    border: 1px solid #ccc;
    margin: 60px auto;
    font-size: 0;
}

.product-card {
    position: relative;
    display: inline-block;
    width: calc(25% - 1px);
    height: 100%;
    border-right: 1px solid #ccc;
    font-size: 16px;
    vertical-align: top;
    text-align: center;
}

.product-card:last-child {
    border-right: none;
}

.category {
    display: block;
    position: relative;
    color: #90a4ae;
    height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px;
}

.category:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 90%;
    height: 1px;
    background-color: #ccc;
}

.img-container {
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: #ffffff;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    height: 15px;
    color: rgb(50, 176, 238);
    font-size: 18px;
    font-weight: 700;
    margin: 20px;
}

.old-price {
    font-weight: 400;
    text-decoration: line-through;
}

.price {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 25px;
    height: 25px;
}

.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 25%;
    border: none;
    background-color: yellow;
    font-weight: 600;
}

.btn:hover {
    background-color: #e3d909;
}

.btn:active {
    transform: translateY(3px);
}

.soon {
    color: #fff;
    background-color: #b028d6;
}

.soon:hover {
    background-color: #8822a4
}

.badge {
    position: absolute;
    display: flex;
    top: -40px;
    right: 10px;
    width: 80px;
    height: 80px;
    background:rgb(50, 176, 238);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.new {
    background: rgb(50, 195, 50);
}

.swipe {
    position: absolute;
    top: 70px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: white;
}

.left {
    left: -20px;
}

.right {
    right: -20px;
}
