* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c1bdbd;
}

.page-container {
    display: inline-block;
	max-width: 980px;
    margin: 20px auto 0;
}

.left-side {
    display: inline-block;
	width: 25%;
	background-color: #406791;
    vertical-align: top;
    color: white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-side {
    display: inline-block; 
	width: calc(75% - 6px);
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 10px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

hr {
    margin-bottom: 4px;
    margin-top: 4px;
}

ul {
    list-style-type: none;
}

.label {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.info {
    font-size: 12px;
}
.interests li{
    font-size: 12px;
    margin-top: 3px;
}

.language span {
    font-size: 12px;
}

.level {
    text-align: right;
    float: right;
    opacity: 0.8;
    margin-top: 5px
}

.left-side h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}


.right-side h2 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 24px;
}

.entry p {
    margin-bottom: 4px;
    margin-top: 6px;
    font-size: 15px;
}

.right-side hr {
    margin-top: 16px;
    margin-bottom: 10px;
    opacity: 0.6;
}

ol {
    padding-left: 16px;
    margin-bottom: 14px;
}

.date {
    float: right;
    font-size: 16px
}

.position {
    font-size:18px;
}

.menu {
    max-width: 900px;
	margin: 20px auto 0;
    background-color: rgb(167, 163, 163);
    text-align: center;
    border-radius: 15px;
}
.menu li{
    display: inline-block;
    margin-left: 18px;
    margin-top:6px;
    font-size: 24px;
}

.portfolio {
    display: inline-block;
    font-family: Arial, sans-serif;
    width: 300px;
    vertical-align: top;
    background-color: white;
    border: 1px solid #000;
    border-radius: 12px;
    background-color: rgb(167, 163, 163);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
    margin-right: 140px;
}

.btn {
    display: block;
    text-align: center;
    background-color: #c1bdbd;
    width: 200px;
    height: 35px;
    font-size: 16px;
    margin:20px auto 0;
    margin-top:4px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 35px;
}

a {
    color: black;
    transition: 0.7s;
}

a:hover {
    background-color: #416392;
    letter-spacing: 0.15em;
    box-shadow: 0 0 15px #2d5897;
}

.portfolio h2 {
    text-align: center;
    margin-top: 5px;
}
